In [1]:
#Import packages
import pandas as pd
import numpy as np
import os

In [2]:
#Read in BF locations data
BF_Locations = pd.read_csv(os.path.join("https://download.data.world/s/a5gdzsmxenwcwqmnbjaaizbfk4uea3"))

In [3]:
#Read in BF reports data
BF_Reports = pd.read_csv(os.path.join("https://download.data.world/s/td52m5guv2cpruwjo6pr2cd3fbk5cx"))

In [4]:
#Read in UFO data
UFO = pd.read_csv(os.path.join("https://download.data.world/s/lobqhnvklhbppb4ayke4b23lsupg57"))

In [5]:
#Change column name
BF_Locations = BF_Locations.rename(columns={'number': 'report_number'})

In [6]:
#Merge two BF datasets
BF = pd.merge(BF_Locations, BF_Reports, how='left', left_on='report_number', right_on='report_number')

In [7]:
#Split 'title' column by report number and report
BF[['report_number2', 'report']] = BF.pop('title').str.split(pat=':', n=1, expand=True)

In [8]:
#Drop redundant 'report_number2' column
BF = BF.drop(columns= ['report_number2'])

In [10]:
#Reformatting timestamp column
BF['timestamp'] = pd.to_datetime(BF['timestamp'], format = "%Y-%m-%dT%H:%M:%S.%f")

In [12]:
#Splitting timestamp column
BF['report_date'] = BF['timestamp'].dt.date
BF['time'] = BF['timestamp'].dt.time

In [15]:
#Removing unnecessary columns
BF = BF.drop(['timestamp', 'year', 'season', 'report_class', 'month', 'date', 'a_g_references', 'time'], axis=1)

In [16]:
BF.head()

,report_number,classification,latitude,longitude,state,county,nearest_town,nearest_road,observed,also_noticed,other_witnesses,other_stories,time_and_conditions,environment,location_details,report,report_date
0,637,Class A,61.5000,-142.9000,Alaska,Cordova-McCarthy County,"Kennikot, Alaska",not sure,My hiking partner and I arrived late to the Ke...,I did hear what appeared to be grunting in the...,"I was the only witness, there was one other in...",None,About 12:00 Midnight / full moon / clear / dim...,This sighting was located at approximately 1 t...,"On the main trail toward the glacier, before t...",Campers' encounter just after dark in the Wra...,2000-06-16
1,2917,Class A,55.1872,-132.7982,Alaska,Prince of Wales County,Hydaburg,Saltery Road,"I was going for a drive. I had 3 kids with me,...",NaN,There were 3 of us who saw it. My oldest daugh...,There are local legends about a wild man in th...,"It was starting to get dark, we needed the lig...","Beach on the right side, with brush. A small m...","Between the sort yard and the garbage dump, on...",Family observes large biped from car,1995-05-15
2,7963,Class A,55.2035,-132.8202,Alaska,Prince of Wales County,Hydaburg,Main Street,This incident happened last night just after 1...,I questioned a friend who lives next door to m...,No other witnesses,There are quite a few other stories about sigh...,"11:15 PM?? Weather was overcast, occasional m...",Most of Prince of Wales is forest. There are a...,At the edge of town.,Sasquatch walks past window of house at night,2004-02-09
3,9317,Class A,62.9375,-141.5667,Alaska,Southeast Fairbanks County,State Highway 30 - 45 minutes west of customs ...,"Traveling westbound on Alcan Highway to Tok, A...","My daughter and I were traveling to Tok, Alask...",I did not hear any sounds and this was my firs...,Myself and daughter. We were listening to musi...,The hunter mentioned above seemed to think it ...,Late morning between 11am and noon. Bright sun...,White bark trees [Aspen?] lined the treeline b...,We were traveling westbound when the animal wa...,"Driver on Alcan Highway has noon, road encoun...",2004-06-18
4,13038,Class A,61.0595,-149.7853,Alaska,Anchorage County,Anchorage / Hillside,No real roads in the area,I and two of my friends were bored one night s...,"Some tracks in the snow, and a clearing in the...",My two friends were snowmachining behind me bu...,I have not heard of any other incidents in Anc...,Middle of the night. The only light was the he...,"In the middle of the woods, in a clearing cove...",Up near powerline clearings east of Potter Mar...,Snowmobiler has encounter in deep snow near P...,2004-02-15

In [18]:
#Drop redundant 'stats' column
UFO = UFO.drop(['stats'], axis = 1)

In [19]:
#Split 'date_time' column
UFO[['date', 'time']] = UFO.pop('date_time').str.split(pat=' ', n=1, expand=True)

In [20]:
UFO.head()

,text,report_link,city,state,country,shape,duration,summary,posted,date,time
0,Long and narrow illuminated craft flying high ...,http://www.nuforc.org/webreports/reports/163/S...,Sisters,OR,USA,Cigar,4 minutes,Long and narrow illuminated craft flying high ...,5/20/21,5/15/21,22:36
1,String of lights \n \nSaw a string of fast mov...,http://www.nuforc.org/webreports/reports/163/S...,Sarasota,FL,USA,Other,2 minutes,String of lights,5/20/21,5/10/21,22:00
2,30+ lights in a line. \n \nI have night vision...,http://www.nuforc.org/webreports/reports/162/S...,Cleveland,TN,USA,Light,10 minutes,30+ lights in a line.,5/20/21,5/5/21,22:35
3,I was standing at my kitchen sink and looked u...,http://www.nuforc.org/webreports/reports/164/S...,Galway,NY,USA,Circle,5 mins,I was standing at my kitchen sink and looked u...,8/20/21,10/16/20,18:25
4,Multiple slow moving craft seen all over the s...,http://www.nuforc.org/webreports/reports/163/S...,Downingtown,PA,USA,Circle,1 hour,Multiple slow moving craft seen all over the s...,7/31/21,6/18/21,01:00