In [37]:
#Import packages
import pandas as pd
import numpy as np
import os

In [38]:
#Read in BF locations data
BF_Locations = pd.read_csv(os.path.join("https://download.data.world/s/a5gdzsmxenwcwqmnbjaaizbfk4uea3"))

In [39]:
#Read in BF reports data
BF_Reports = pd.read_csv(os.path.join("https://download.data.world/s/td52m5guv2cpruwjo6pr2cd3fbk5cx"))

In [40]:
#Read in UFO data
UFO = pd.read_csv(os.path.join("https://download.data.world/s/lobqhnvklhbppb4ayke4b23lsupg57"))

In [41]:
#Change column name
BF_Locations = BF_Locations.rename(columns={'number': 'report_number'})

In [42]:
#Merge two BF datasets
BF = pd.merge(BF_Locations, BF_Reports, how='left', left_on='report_number', right_on='report_number')

In [43]:
#Split 'title' column by report number and report
BF[['report_number2', 'report']] = BF.pop('title').str.split(pat=':', n=1, expand=True)

In [44]:
#Drop redundant 'report_number2' column
BF = BF.drop(columns= ['report_number2'])

In [45]:
BF.head()

,report_number,classification,timestamp,latitude,longitude,year,season,state,county,nearest_town,...,other_witnesses,other_stories,time_and_conditions,environment,report_class,location_details,month,date,a_g_references,report
0,637,Class A,2000-06-16T12:00:00Z,61.5000,-142.9000,2000,Summer,Alaska,Cordova-McCarthy County,"Kennikot, Alaska",...,"I was the only witness, there was one other in...",None,About 12:00 Midnight / full moon / clear / dim...,This sighting was located at approximately 1 t...,Class A,"On the main trail toward the glacier, before t...",June,16,NaN,Campers' encounter just after dark in the Wra...
1,2917,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982,1995,Spring,Alaska,Prince of Wales County,Hydaburg,...,There were 3 of us who saw it. My oldest daugh...,There are local legends about a wild man in th...,"It was starting to get dark, we needed the lig...","Beach on the right side, with brush. A small m...",Class A,"Between the sort yard and the garbage dump, on...",NaN,NaN,NaN,Family observes large biped from car
2,7963,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202,2004,Winter,Alaska,Prince of Wales County,Hydaburg,...,No other witnesses,There are quite a few other stories about sigh...,"11:15 PM?? Weather was overcast, occasional m...",Most of Prince of Wales is forest. There are a...,Class A,At the edge of town.,February,09,NaN,Sasquatch walks past window of house at night
3,9317,Class A,2004-06-18T12:00:00Z,62.9375,-141.5667,2004,Summer,Alaska,Southeast Fairbanks County,State Highway 30 - 45 minutes west of customs ...,...,Myself and daughter. We were listening to musi...,The hunter mentioned above seemed to think it ...,Late morning between 11am and noon. Bright sun...,White bark trees [Aspen?] lined the treeline b...,Class A,We were traveling westbound when the animal wa...,June,"Friday, 18th",NaN,"Driver on Alcan Highway has noon, road encoun..."
4,13038,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853,2004,Winter,Alaska,Anchorage County,Anchorage / Hillside,...,My two friends were snowmachining behind me bu...,I have not heard of any other incidents in Anc...,Middle of the night. The only light was the he...,"In the middle of the woods, in a clearing cove...",Class A,Up near powerline clearings east of Potter Mar...,February,NaN,NaN,Snowmobiler has encounter in deep snow near P...

In [46]:
#Reformatting timestamp column
BF['timestamp'] = pd.to_datetime(BF['timestamp'], format = "%Y-%m-%dT%H:%M:%S.%f")

In [47]:
#Check to see if it worked
BF['timestamp']

0      2000-06-16 12:00:00+00:00
1      1995-05-15 12:00:00+00:00
2      2004-02-09 12:00:00+00:00
3      2004-06-18 12:00:00+00:00
4      2004-02-15 12:00:00+00:00
                  ...
4245   1995-11-15 12:00:00+00:00
4246   2000-07-30 12:00:00+00:00
4247   1999-03-19 12:00:00+00:00
4248   1983-08-17 12:00:00+00:00
4249   1975-09-10 12:00:00+00:00
Name: timestamp, Length: 4250, dtype: datetime64[ns, UTC]

In [50]:
#Splitting timestamp column
BF['report_date'] = BF['timestamp'].dt.date
BF['time'] = BF['timestamp'].dt.time

In [51]:
BF.head()

,report_number,classification,timestamp,latitude,longitude,year,season,state,county,nearest_town,...,time_and_conditions,environment,report_class,location_details,month,date,a_g_references,report,report_date,time
0,637,Class A,2000-06-16 12:00:00+00:00,61.5000,-142.9000,2000,Summer,Alaska,Cordova-McCarthy County,"Kennikot, Alaska",...,About 12:00 Midnight / full moon / clear / dim...,This sighting was located at approximately 1 t...,Class A,"On the main trail toward the glacier, before t...",June,16,NaN,Campers' encounter just after dark in the Wra...,2000-06-16,12:00:00
1,2917,Class A,1995-05-15 12:00:00+00:00,55.1872,-132.7982,1995,Spring,Alaska,Prince of Wales County,Hydaburg,...,"It was starting to get dark, we needed the lig...","Beach on the right side, with brush. A small m...",Class A,"Between the sort yard and the garbage dump, on...",NaN,NaN,NaN,Family observes large biped from car,1995-05-15,12:00:00
2,7963,Class A,2004-02-09 12:00:00+00:00,55.2035,-132.8202,2004,Winter,Alaska,Prince of Wales County,Hydaburg,...,"11:15 PM?? Weather was overcast, occasional m...",Most of Prince of Wales is forest. There are a...,Class A,At the edge of town.,February,09,NaN,Sasquatch walks past window of house at night,2004-02-09,12:00:00
3,9317,Class A,2004-06-18 12:00:00+00:00,62.9375,-141.5667,2004,Summer,Alaska,Southeast Fairbanks County,State Highway 30 - 45 minutes west of customs ...,...,Late morning between 11am and noon. Bright sun...,White bark trees [Aspen?] lined the treeline b...,Class A,We were traveling westbound when the animal wa...,June,"Friday, 18th",NaN,"Driver on Alcan Highway has noon, road encoun...",2004-06-18,12:00:00
4,13038,Class A,2004-02-15 12:00:00+00:00,61.0595,-149.7853,2004,Winter,Alaska,Anchorage County,Anchorage / Hillside,...,Middle of the night. The only light was the he...,"In the middle of the woods, in a clearing cove...",Class A,Up near powerline clearings east of Potter Mar...,February,NaN,NaN,Snowmobiler has encounter in deep snow near P...,2004-02-15,12:00:00

In [56]:
list(BF.columns)

['report_number',
 'classification',
 'timestamp',
 'latitude',
 'longitude',
 'year',
 'season',
 'state',
 'county',
 'nearest_town',
 'nearest_road',
 'observed',
 'also_noticed',
 'other_witnesses',
 'other_stories',
 'time_and_conditions',
 'environment',
 'report_class',
 'location_details',
 'month',
 'date',
 'a_g_references',
 'report',
 'report_date',
 'time']

In [60]:
#Removing redundant columns
BF = BF.drop(['timestamp', 'year', 'season', 'report_class', 'month', 'date', 'a_g_references', 'time'], axis=1)

In [62]:
BF.head()

,report_number,classification,latitude,longitude,state,county,nearest_town,nearest_road,observed,also_noticed,other_witnesses,other_stories,time_and_conditions,environment,location_details,report,report_date
0,637,Class A,61.5000,-142.9000,Alaska,Cordova-McCarthy County,"Kennikot, Alaska",not sure,My hiking partner and I arrived late to the Ke...,I did hear what appeared to be grunting in the...,"I was the only witness, there was one other in...",None,About 12:00 Midnight / full moon / clear / dim...,This sighting was located at approximately 1 t...,"On the main trail toward the glacier, before t...",Campers' encounter just after dark in the Wra...,2000-06-16
1,2917,Class A,55.1872,-132.7982,Alaska,Prince of Wales County,Hydaburg,Saltery Road,"I was going for a drive. I had 3 kids with me,...",NaN,There were 3 of us who saw it. My oldest daugh...,There are local legends about a wild man in th...,"It was starting to get dark, we needed the lig...","Beach on the right side, with brush. A small m...","Between the sort yard and the garbage dump, on...",Family observes large biped from car,1995-05-15
2,7963,Class A,55.2035,-132.8202,Alaska,Prince of Wales County,Hydaburg,Main Street,This incident happened last night just after 1...,I questioned a friend who lives next door to m...,No other witnesses,There are quite a few other stories about sigh...,"11:15 PM?? Weather was overcast, occasional m...",Most of Prince of Wales is forest. There are a...,At the edge of town.,Sasquatch walks past window of house at night,2004-02-09
3,9317,Class A,62.9375,-141.5667,Alaska,Southeast Fairbanks County,State Highway 30 - 45 minutes west of customs ...,"Traveling westbound on Alcan Highway to Tok, A...","My daughter and I were traveling to Tok, Alask...",I did not hear any sounds and this was my firs...,Myself and daughter. We were listening to musi...,The hunter mentioned above seemed to think it ...,Late morning between 11am and noon. Bright sun...,White bark trees [Aspen?] lined the treeline b...,We were traveling westbound when the animal wa...,"Driver on Alcan Highway has noon, road encoun...",2004-06-18
4,13038,Class A,61.0595,-149.7853,Alaska,Anchorage County,Anchorage / Hillside,No real roads in the area,I and two of my friends were bored one night s...,"Some tracks in the snow, and a clearing in the...",My two friends were snowmachining behind me bu...,I have not heard of any other incidents in Anc...,Middle of the night. The only light was the he...,"In the middle of the woods, in a clearing cove...",Up near powerline clearings east of Potter Mar...,Snowmobiler has encounter in deep snow near P...,2004-02-15

In [16]:
#BF.loc[BF['a_g_references'].notnull()]

In [11]:
list(BF.columns)

['report_number',
 'classification',
 'timestamp',
 'latitude',
 'longitude',
 'year',
 'season',
 'state',
 'county',
 'nearest_town',
 'nearest_road',
 'observed',
 'also_noticed',
 'other_witnesses',
 'other_stories',
 'time_and_conditions',
 'environment',
 'report_class',
 'location_details',
 'month',
 'date',
 'a_g_references',
 'report']

In [14]:
UFO.head()

,text,stats,date_time,report_link,city,state,country,shape,duration,summary,posted
0,Long and narrow illuminated craft flying high ...,Occurred : 5/15/2021 22:36 (Entered as : 05/1...,5/15/21 22:36,http://www.nuforc.org/webreports/reports/163/S...,Sisters,OR,USA,Cigar,4 minutes,Long and narrow illuminated craft flying high ...,5/20/21
1,String of lights \n \nSaw a string of fast mov...,Occurred : 5/10/2021 22:00 (Entered as : 5/10...,5/10/21 22:00,http://www.nuforc.org/webreports/reports/163/S...,Sarasota,FL,USA,Other,2 minutes,String of lights,5/20/21
2,30+ lights in a line. \n \nI have night vision...,Occurred : 5/5/2021 22:35 (Entered as : 05/05...,5/5/21 22:35,http://www.nuforc.org/webreports/reports/162/S...,Cleveland,TN,USA,Light,10 minutes,30+ lights in a line.,5/20/21
3,I was standing at my kitchen sink and looked u...,Occurred : 10/16/2020 18:25 (Entered as : 10/...,10/16/20 18:25,http://www.nuforc.org/webreports/reports/164/S...,Galway,NY,USA,Circle,5 mins,I was standing at my kitchen sink and looked u...,8/20/21
4,Multiple slow moving craft seen all over the s...,Occurred : 6/18/2021 01:00 (Entered as : 06/1...,6/18/21 01:00,http://www.nuforc.org/webreports/reports/163/S...,Downingtown,PA,USA,Circle,1 hour,Multiple slow moving craft seen all over the s...,7/31/21

In [15]:
#Drop redundant 'stats' column
UFO = UFO.drop(['stats'], axis = 1)